@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="Contact/Edit" class="edit-contact" medthod="post">
    <label for="editName">Name: </label>
    <input type="text" name="editName" required />

    <label for="editNumber">Number: </label>
    <input type="text" name="editNumber" required />

    <button type="submit" class="edit">Edit</button>
</form>
    <button type="submit" class="delete">Delete</button>


