@{
    ViewData["Title"] = "Texter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Texter.Models.Contact>

<h2>Contacts</h2>
<hr /><hr />

<div>
    <h3 class="add-contact">Add New Contact</h3>
</div>

<div class="row">
 
@foreach (var contact in Model) {
    @if (contact == null)
    {
            <p>You have no friends!</p>
    }
    else
    {
    <div class="col-md-5 contact-list">
    <div>
        <h3>
            @Html.DisplayFor(modelItem => contact.Name):
        @Html.DisplayFor(modelItem => contact.Number)
    </h3>

    </div>
    </div>
        }
    }

    <div class="col-md-5" id="new-contact"></div>
    <div id="saved-contact"></div>
</div>