@{
    ViewData["Title"] = "Texter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Texter.Models.Contact>

<h2>Contacts</h2>
<hr /><hr />

    <h3 class="add-contact">Add New Contact</h3>
 
@foreach (var contact in Model) {
    @if (contact == null)
    {
            <p>You have no friends!</p>
    }
    else
    {
    <div class="contact-list">
        <h3 class="contact-entry" id="@contact.Id">
            @Html.DisplayFor(modelItem => contact.Name):
            @Html.DisplayFor(modelItem => contact.Number)
        </h3>
            <div id="edit-@contact.Id"></div>
    </div>
        }
    }
    <div id="new-contact"></div>
