@model Texter.Models.Contact

<h3>Save a Contact</h3>

    <form action="Contact/NewContact" class="add-new-cont" method="post">
        <label for="newName">Name: </label>
        <input type="text" name="newName" required/>

        <label for="newNumber">Number: </label>
        <input type="text" name="newNumber" required/>

        <button type="submit">Add Contact</button>
    </form>
    <div id="saved-contact"></div>
