@{
    ViewData["Title"] = "Twilio Ditto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Awesome Text Messaging App by Texter!</h2>
<h3>@Html.ActionLink("Contacts", "Index", "Contact")</h3>
<hr />
@Html.ActionLink("View all Messages", "GetMessages")
<br />
@Html.ActionLink("Send a new message", "SendMessage")